body {
  margin: 0;
  text-align: center;
  font-family: IRANSans;
  overflow-x: hidden;
}

.cta {
  background-color: white;
  color: red;
  font-size: 12px;
  font-family: IRANSans;
  font-weight: bold;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 5px;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-div {
  background-color: red;
  width: 1263px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  font-family: IRANSans;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.topbar {
  background-color: #EDEDED;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 55px;
  z-index: 2;
}

.icon {
  float: right;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.register {
  border: solid black;
  color: black;
  font-size: 14px;
  font-family: IRANSans;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: right;
  color: #5D5C5C;
  text-align: center;
  text-decoration: none;
  font-family: IRANSans;
  font-weight: bold;
  font-size: 14px;
}

.navbar a:hover {
  color: black;
}

.navbar-navbar {
  margin-bottom: 24px;
}

.board {
  margin: 8.75rem auto 0 auto;
  position: relative;
  width: 100%;
  height: auto;
}

.paragraph {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: IRANSans;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#features {
  position: absolute;
  top: 7.5rem;
  right: 3.75rem;
  left: 3.75rem;
}

.feature-box {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  text-align: center;
}

.text {
  color: white;
  text-align: center;
  font-family: IRANSans;
  font-size: 14px;
  margin-top: 1rem;
}

.text:hover {
  font-family: IRANSans;
  font-weight: bold;
}

.mytextdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2% 4%;
}

.mytexttitle {
  flex-grow: 0;
  margin-left: 2%;
  font-family: IRANSans;
  font-weight: bold;
  font-size: 0.85rem;
  color: black;
  text-decoration: none;
}

.divider {
  flex-grow: 1;
  height: 1.5px;
  background-color: #D3D3D3;
}

a:link {
  text-decoration: none !important;
}

.img-box {
  display: inline-block;
  text-align: right;
  float: right;
}

.box {
  width: 585px;
  text-align: right;
  display: inline-block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 1px;
  float: right;
}

.article-title {
  font-family: IRANSans;
  font-weight: bolder;
  font-size: 1.3rem;
  color: black;
}

.small-text {
  text-justify: auto;
  font-family: IRANSans;
  font-weight: normal;
  font-size: 0.70rem;
  color: black;
}

.first-img {
  float: right;
  margin-right: 2rem;
}

.text-right {
  text-align: right;
}

.text-info {
  font-family: IRANSans;
  font-weight: bold;
  font-size: 0.85rem;
  color: #17a2b8;
  padding-top: 5px;
}

.pr-2 {
  padding-right: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.d-md-block {
  display: block;
}

.strong-text {
  font-family: IRANSans;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  padding-right: 2rem;
}

.small-text {
  display: block;
  font-family: IRANSans;
  color: black;
  padding-right: 2rem;
  text-align: justify;
  line-height: 1.5rem;
}

.sh-doctors {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.p-1 {
  padding-right: 0;
  padding-left: 0;
  display: inline-block;
}

.input-search {
  height: 40px;
  border: 1px solid #d8d8d9;
  text-align: center;
  text-align-last: center;
  color: #7d8d95;
  line-height: inherit;
  background-color: #fff;
  padding-bottom: 0.25rem;
  width: 100%;
}

#full-name-label {
  font-family: IRANSans;
}

.list-group {
  margin-left: 2rem;
  margin-right: 2rem;
}

.divone {
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-md-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  position: relative;
  width: 100%
}

.a-1 {
  width: 100%;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
}

.a-1:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.a-1:hover .name-1 {
  color: #007bff;
}

.photo-1 {
  border-radius: 50%;
  border: 1px solid #dee2e6;
  border-color: #6c757d;
}

.name-1 {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 25px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 14px;
  color: #455a64;
}

.des-1 {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-top: 0;
  font-size: 15px;
  color: #455a64;
}

.lo-1 {
  text-align: center;
  color: #90a4ae;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-top: 0;
}

.button-1 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.btn-info {
  background-color: rgba(73, 190, 183, .81);
  border-color: rgba(73, 190, 183, .81);
  color: #fff;
  display: block;
  width: 100%;
  padding-bottom: 0.5rem;
}

.btn-info:hover {
  background-color: rgba(73, 190, 183, .81);
  border-color: rgba(73, 190, 183, .81);
  color: #fff;
}

.btn-info-2 {
  margin-top: 1.5rem;
  color: rgba(73, 190, 183, .81);
  background-color: #fff;
  border-color: rgba(73, 190, 183, .81);
}

.btn-info-2:hover {
  background-color: rgba(73, 190, 183, .81);
  border-color: rgba(73, 190, 183, .81);
}

.diet-container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.diet-part {
  padding-bottom: 0.25rem;
  padding-left: 0;
  padding-right: 0;
}

.text-paragraph {
  font-size: 1rem;
  border-top: 5px solid #8cfff9;
  padding: 15px;
  background-color: #eee;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #212529;
  text-align: right;
  font-weight: 400;
  font-family: IRANSans;
  line-height: 1.5;
  text-align: justify;
}

.diet-item {
  padding: 10px 0;
}

.card-border {
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  position: relative;
  height: 100%;
}

.diet-box {
  overflow: hidden;
  position: relative;
  height: 270px;
  text-align: center;
}

.img-diet {
  height: 100%;
  position: absolute;
  top: -99999px;
  bottom: -99999px;
  left: -99999px;
  right: -99999px;
  margin: auto;
  max-width: 300%;
}

.box-content {
  position: absolute;
  width: 100%;
  padding: 20px 10px;
  background: rgba(73, 190, 183, .81);
  bottom: -10px;
  top: auto;
  left: 0;
  z-index: 1;
}

.title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
}

.role {
  display: block;
  font-size: 14px;
  color: #fff;
}

.diet-info-more {
  font-size: small;
}

.diet-box:hover .img-diet {
  transform: scale(1.2);
  transition: all 1.5s ease 0s;
}

.diet-box:hover .box-content {
  bottom: 150px;
  transition: all .6s ease 0s;
}

.btn-info-last {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: rgba(73, 190, 183, .81);
  background-color: #fff;
  border-color: rgba(73, 190, 183, .81);
}

.btn-info-last:hover {
  border-color: rgba(73, 190, 183, .81);
  background-color: rgba(73, 190, 183, .81);
}

.black-div {
  background-color: #222;
  height: 650px;
  width: 100%;
}

.video-container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.video-part {
  text-align: right;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.sidebar-video {
  direction: ltr;
  height: 438px;
  overflow-y: scroll;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.sidebar-title {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  text-align: right;
}

.sidebar-content {
  font-size: .6rem;
  line-height: 2.1;
  padding-bottom: 5px;
  color: #fff;
  text-align: right;
}

.img-rounded {
  height: 100px;
  width: 100px;
  border-radius: 0.25rem;
  vertical-align: middle;
}

.text-search {
  text-align: right;
  margin-right: 3rem;
}

.col-search {
  padding: 0;
  margin-right: 10rem;
  margin-top: 2rem;
}

.search-search {
  height: 40px;
  width: 100%;
  border: 1px solid #d8d8d9;
  text-align: center;
}

.col-search-btn {
  padding-left: 0;
  padding-right: 0;
  margin-top: 2rem;
}

.search-btn {
  background-color: rgba(73, 190, 183, .81);
  border-color: rgba(73, 190, 183, .81);
  color: #fff;
  width: 100%;
  border-radius: 0;
  display: block;
  padding: 8px 12px;
}

.search-btn:hover {
  color: #fff;
}

.footer-section {
  background-color: #222;
  margin-top: 6rem;
}

.footer-social {
  position: relative;
  top: -16px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.aparat {
  background-color: #222;
  color: #222;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
}

.fa-telegram {
  background: #222;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  padding: 10px;
  font-size: 24px;
}

.fa-instagram {
  background-color: #222;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
}

.fa-facebook-f {
  background-color: #222;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
}

.fa-twitter {
  background-color: #222;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-size: 24px;
  line-height: 30px;
}

.footer-social-name {
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
}

.text-footer {
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.last-imgs {
  text-align: center;
  justify-content: center;
  display: flex;
}

.group-imgs {
  padding-left: 1rem;
  padding-right: 1rem;
}

.imgs {
  border: 5px solid #fff;
  cursor: pointer;
}

.shafajoo-img {
  padding-top: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.ad-tel {
  padding-top: 8px;
  margin-bottom: 16px;
}

.tel-ad {
  color: #fff;
  font-size: 80%;
  padding-bottom: 16px;
}

.copyright {
  font-size: 16px;
  height: 40px;
  background-color: #111;
  padding-top: 8px;
}

.copyright-text {
  color: #6c757d;
  text-align: center;
}
